.user_header {
  display: flex;
  align-items: center;

  margin: 10px;

  height: 50px;

  background-color: #cfe7ea;
  cursor: pointer;
  border-radius: 10px;
}

.user_name {
  justify-content: center;

  width: 75%;

  padding-right: 10px;

  text-align: center;
}

.user_profile_icon {
  justify-content: flex-end;

  min-width: 40px;

  margin-right: 10px;
}

.user_profile_icon img {
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 100%;
}
